* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.App--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.App--content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
}

.App--form {
  display: flex;
  flex-direction: column;
}

.App--display {
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.25);
  width: 360px;
  height: 509px;
  font-size: 13px;
  background-color: white;
}

.App--footer {
  margin: 15px;
}

.App--repo-link {
  font-size: 2.2em;
  color: #282c34;
}

.App--repo-link:hover {
  color: #626772;
}

.general, .education, .experience {
  width: 200px;
}

.general, .education, .experience {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.general--form, .education--form, .experience--form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #282c34;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}

button:hover {
  background-color: #1a1d23;
}

button:active {
  background-color: #0d0f12;
  transform: scale(0.95);
}

.button-add {
  background-color: #6dc280;
}

.button-add:hover {
  background-color: #5fae6e;
}

.button-add:active {
  background-color: #4d945b;
}

.button-remove {
  background-color: #d26d6d;
}

.button-remove:hover {
  background-color: #c05a5a;
}

.button-remove:active {
  background-color: #ae4747;
}

textarea {
  height: 75px;
}

.display {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}

.display--general {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.display--apart {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.display--education {
  margin-bottom: 10px;
}

.display--title {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.display--exp-desc {
  white-space: pre-line;
}
