* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.App--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.App--content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.App--form {
  display: flex;
  flex-direction: column;
}

.App--display {
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.25);
  width: 360px;
  height: 509px;
  font-size: 12px;
  background-color: white;
}

.general, .education, .experience {
  width: 200px;
}

.general, .education, .experience {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.general--form, .education--form, .experience--form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.display {
  font-family: 'Times New Roman', Times, serif;
}

.display--exp-desc {
  white-space: pre-line;
}
