* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general, .education, .experience {
  width: 200px;
}

.general--form, .education--form, .experience--form {
  display: flex;
  flex-direction: column;
}

.display--exp-desc {
  white-space: pre-line;
}
